@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans+Condensed:wght@300&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
}
.colorNavbar{
    background: rgba(24, 23, 23, 0.767);
    backdrop-filter: blur(5px);
}
.letraChica{
    font-size: 12px;
}
.logo{
    font-size: 15px;
}
.claseLinksFooter{
    text-decoration: none;
}  
.linea-footer{
    
    height: 50%;
}
.botonToggler{
    border: 0px;
}
.botonToggler:focus{
    box-shadow: none;
}
.linea-footer{
    width: 0.1px;
    height: 50%;
}

@media all and (max-width: 991px){
  
    
}
@media (max-width: 768px) { 
    .linea-footer{
        width: 75%;
        height: 1px;
    }
}


.logo2{
    display: none;
}
@media all and (max-width: 576px){
    .logo1{
    display: none;
    }
    .logo2{
        display: block;
    }
    
}

.esconderElemento{
    display: none;
}
div.foto{
    min-width: 250px;
    border: 50px;
    border: 2px solid rgba(0,0,0,.125);
}

img.imagen{
    padding-top: 1rem;
}

div.foto .texto{
    text-align: center;
    padding-bottom: 1rem ;
}
@media(max-width: 800px){
    div.foto {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    div.fila{
        margin: 0 !important;
    }
}

div.foto img{
   min-width: 222px;
}

div.imagen{
    min-width: 200px;
}

.texto{
    margin-bottom: 20px;
}

div.fila{
    margin: 2rem 0;
}
.title{
    margin-top: 80px;
    font-family: 'Noto Sans', sans-serif;
}
.frase{
    text-align: end;
    padding-top: 5rem;
    font-style: italic;
}
.card{
    width: 15rem;
}
@media(min-width: 768px) and (max-width: 1024px){
    .fila{
        display: flex;
        justify-content: space-evenly !important;
    }
    .card{
        width: 18rem;
        margin: 15px;
    }
}
@media(min-width: 375px) and (max-width: 812px){
    .fila{
        display: flex;
        justify-content: center !important;
    }
    .card{
        margin: 10px;
    }
}

#titulo {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  * {
    padding: 0;
    margin: 0;
    font-family: 'Noto', sans-serif;
    text-decoration: none;
  }
  
  
  #titulo {
    position: relative;
    font-family:  'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  /* efecto transicion /
  .transicion1 {
    background: #f1f1f1;
    transition: .5s;
  }
  .transicion1:hover {
    background: #e1e1e1;
  }
  
  .transicion2 {
    margin: 20px 0;
    text-align: center;
  }
  .transicion2 p:last-child {
    transition: .5s;
    margin-top: 10px;
  }
  .transicion1:hover > .transicion2 p:last-child {
    color: #3498db;
  }
  
  / box shadow */
  .card:hover {
    box-shadow: 2px 2px 27px -8px rgba(0,0,0,0.59);
  -webkit-box-shadow: 2px 2px 27px -8px rgba(0,0,0,0.59);
  -moz-box-shadow: 2px 2px 27px -8px rgba(0,0,0,0.59);
  }

  .slider-Responsive{
    height: 550px;
    object-fit: cover;
}